/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.title {
    @apply text-3xl font-bold;
}
.sub-title {
    @apply text-xl font-bold;
}
.input {
    @apply border-2 p-2 py-3.5 rounded-md max-h-14 border-none outline-none pl-10 focus:outline-primary focus:outline-offset-2 duration-150;
}
.button {
    @apply px-2.5 py-3.5 rounded-lg duration-200 cursor-pointer hover:scale-105 ease-in-out shine-effect;

    &.primary{
        @apply bg-primary/90 text-white;
    }
    &.secondary{
        @apply bg-secondary/90 text-white p-2 py-3.5 rounded-lg;
    }
}
.table.table{
    @apply py-3.5 px-2.5 text-center items-center w-full whitespace-nowrap mt-4;
    thead {
        @apply bg-white shadow-md;
        th{
            @apply text-tertiary/60 px-4 md:px-2 py-4 2xl:py-6 font-bold;

        }
    }
    tbody{
        tr{
            @apply border-b border-tertiary/20 hover:bg-gray-100;
        }
        td{
            @apply px-4 md:px-2 py-4 2xl:pb-6 bg-white mb-6
        }

    }
}

.edit {
    @apply p-2 hover:scale-110 duration-150 cursor-pointer text-warning hover:text-warning/70;
}
.delete {
    @apply p-2 hover:scale-110 duration-150 cursor-pointer text-danger hover:text-danger/70
}
.info {
    @apply duration-150 cursor-pointer text-primary hover:text-primary/70
}
.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skewX(-25deg);
    transition: all 0.7s;
    pointer-events: none;
}

.shine-effect:hover::before {
    left: 200%;
}