/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.title {
    @apply text-3xl font-bold;
}
.sub-title {
    @apply text-xl font-bold;
}
.input {
    @apply border-2 p-2 py-3.5 rounded-md max-h-14 border-none outline-none pl-10 focus:outline-primary focus:outline-offset-2 duration-150;
}
.button {
    @apply px-2.5 py-3.5 rounded-lg duration-200 cursor-pointer hover:scale-105 ease-in-out shine-effect;

    &.primary{
        @apply bg-primary/90 text-white;
    }
    &.secondary{
        @apply bg-secondary/90 text-white p-2 py-3.5 rounded-lg;
    }
}

.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skewX(-25deg);
    transition: all 0.7s;
    pointer-events: none;
}

.shine-effect:hover::before {
    left: 200%;
}